.App {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.Banner {
  box-sizing: border-box;
  width: 100%;
  min-height: 32vh;
  padding: 16px 24px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-image: url('./images/banner.jpg');
  background-size: cover;
  background-position: center 45%;
  background-repeat: no-repeat;
  color: white;
  text-align: left;
}

.Logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  fill: white;
}

.Logo svg {
  height: 0.5em;
  width: 0.5em;
  padding: 0px 5px;
}

.Logo svg:first-of-type {
  height: 34px;
  width: 34px;
}
