.App {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.Banner {
  box-sizing: border-box;
  width: 100%;
  min-height: 32vh;
  padding: 16px 24px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-image: url('./images/banner.jpg');
  background-size: cover;
  background-position: center 45%;
  background-repeat: no-repeat;
  color: white;
  text-align: left;
}

.Logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  fill: white;
}

.Logo svg {
  height: 0.5em;
  width: 0.5em;
  padding: 0px 5px;
}

.Logo svg:first-of-type {
  height: 34px;
  width: 34px;
}

.SearchForm {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-align: left;
  max-width: 720px;
  padding: 24px;
}

.SearchForm form {
  width: 100%;
}

.SearchForm form p {
  display: flex;
  flex-flow: row nowrap;
}

.SearchForm form label {
  padding-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
}

.SearchForm form input {
  box-sizing: border-box;
  border: 1px solid #eee;
  border-radius: 2px;
  height: 48px;
  padding: 10px;
  font-size: 1em;
}

.formRow {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.SearchForm button {
  width: 100%;
  height: 48px;
  padding: 5px;
  text-align: center;
  background-color: #ea555c;
  border: none;
  color: white;
  font-size: 1em;
  font-weight: bold;
}

.CounterField {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.CounterField .ButtonGroup {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}

.CounterField button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #579ea3;
  color: #579ea3;
  cursor: pointer;
}

.CounterField button.inactive {
  color: #d1e6e7;
  border-color: #d1e6e7;
  cursor: default;
}

.SmallCard {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  width: 136px;
  margin-right: 15px;
  border: 1px solid #ddd;
}

.SmallCard div {
  text-align: left;
  padding: 16px;
}

.SmallCard h3 {
  margin: 0;
  padding: 5px;
  font-size: 1em;
}

.SmallCard p {
  margin: 0;
  padding: 5px;
  font-size: 0.8em;
}

.SmallCard img {
  width: 134px;
  height: 78px;
}

.Carousel {
  overflow: hidden;
  padding: 0px 20px;
  max-width: 720px;
}

.Carousel > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.Carousel > div::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}
